body{
	
	background-color:black;
}
h1{
	color:orange;
	text-align:center;
	
}
h2{
	color:orange;
	text-align:center;
}
p{
	color:white;
	text-align:center;
}
img{
    margin: 20%;
    
}